name: finance_manager
description: Interactive Finance Dashboard App with Charts and Analytics
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  fl_chart: ^0.68.0
  sqflite: ^2.3.0
  path: ^1.9.0
  http: ^1.1.0
  intl: ^0.19.0
  provider: ^6.0.0
  shared_preferences: ^2.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
